
@{
    Layout = "~/Views/Shared/_RestaurantL.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Restaurant/CreateRequest/" class="btn btn-primary">Create Request</a>
<a href="/Restaurant/CreatedRequest/" class="btn btn-danger">Request Status</a>