
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Dashboard</h2>
<a href="/Admin/AddProduct/" class="btn btn-primary">Add Products</a>
<a href="/Admin/ViewProduct/" class="btn btn-primary">View Products</a>

