
@{
    Layout = "~/Views/Shared/_NGOL.cshtml";
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/NGO/AddEmployee/" class="btn btn-primary">Add Employee</a>
<a href="/NGO/ViewRequest/" class="btn btn-primary">Pending Request</a>
<a href="/NGO/CompletedRequest/" class="btn btn-danger">Request Completed</a>
<a href="/NGO/RejectedRequest/" class="btn btn-danger">Rejected Request</a>