@model IEnumerable<ProductsProcess.EF.Product>
@{
    ViewBag.Title = "ViewCart";
}

<h2>ViewCart</h2>


<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            @*<td>@product.ProductID</td>*@
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
        </tr>
    }
</table>
